In [1]:
a = (1,2,3)
b = 4, 5

In [3]:
# for loops
for i in a:
    print(i)

1
2
3

In [9]:
1 in a

True

In [10]:
1 in b

False

In [11]:
len(a)

3

In [12]:
# concatenation can be done in tuples
c = a + b
print(c)

(1, 2, 3, 4, 5)

In [14]:
d = (a, b)

print(d)

((1, 2, 3), (4, 5))

In [15]:
#repetition
e = a*4

In [16]:
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [18]:
max(a)

3

In [19]:
a2 = (1, 2, "s", (1,2))

In [20]:
min(a2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [21]:
l = [1,2,3,4]
tuple(l)

(1, 2, 3, 4)